.forgot a:hover{
    text-decoration: underline;
 color:blue;
}
.forgot a{
    text-decoration: none;
    color: black;
    margin-left:28%;
}
.one{
    border: solid white ;
    width:19%;
    padding-left:1%;
    position:fixed;
    left:56%;
    top:27%;  
    font-size: 20px;
    border-radius: 25px;
    background-size: cover;
    background-image: url(grey_bg_img.png);
    min-height: auto;
    padding:3%;
   
}
.heading{
    padding-left:1%;
    position:fixed;
    left:64%;
    top:19%; 
    
}
.submit:hover{
    background-color:black;
    color:white;

}
.submit{
    margin-left:35%;
}
.img1{
   padding-top:1%;
   border:solid white;
   margin-left:15%;
   width:65%;
   margin-top:7%;
   background-color: white;
   padding-left:5%;
   box-shadow:  -0.8rem -0.8rem 5px lightgray;
}
body{
background-image:url(https://wallpaperaccess.com/full/2666011.jpg);
background-size: cover;
    min-height: auto;
}
